<div class="content">



    <div class="nameL">
        <pre>
ダイアナ




ロイク
        </pre>
    </div>

    <div class="nameR">
        <pre>
ジーンズ




ジミー
        </pre>
    </div>
    <div class="nameB">
        <pre>イラン</pre>
    </div>

    <div class="jonction">
    </div>
    <div class="big">
    </div>
    <div class="pillar1">
    </div>
    <div class="pillar2">
    </div>
    <div class="topunder">
    </div>
    <div class="top">
    </div>
    

    <div class="foot1">
    </div>
    <div class="foot2">
    </div>

</div>