
@use '/src/styles.scss' as stl;

.content {
    
    position: relative;
    margin-top: 2%;
}


.gamechat {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 45px);
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: stl.$ligth-background;
    border-radius: 10px;
}

@media (width < 1200px) {
    .gamechat {
        display: none;   
    }

}

@media (width > 1200px) {
    .gamechat {
        width: calc((96% - 900px) / 2);
    }

}

